# Priklausomybės
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
.next
out
/build

# Vercel
.vercel

# Aplinkos kintamieji (tikros reikšmės į Git nepatenka)
.env
.env.*
!.env.example

# Sistemos ir žurnalų failai
.DS_Store
*.log
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testavimo ataskaitos
/coverage
